<main class="container mx-auto mt-28 px-5 flex flex-row gap-8">
    <% users = ["zach-watson", "kierstenepps", "sam-4529", "christarry"]%>
    <% sends = scrape_sendage_sends(users, 5)%>
    <div class="relative h-32 w-32">
        <div class="absolute left-0 top-0 h-16 w-16">
            <%= render 'following', sends: sends%>
        </div>
    </div>
    <div class="basis-3/4">
        <%= render 'feed', sends: sends %>
    </div>
</main>